# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# testing
/coverage

# production
/build

# misc
.DS_Store
.idea
.vscode

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
configs.toml

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.log
